.main {
  width: 30%;
  margin: 50px auto;
}

.sec {
  border-bottom: 3px solid #E6E6FA;
  padding-bottom: 30px;
  margin: 20px;
}

.btn {
  padding-bottom: 30px;
  margin: 20px;
  text-align: center;
}

.title {
  float: left;
  text-align: right;
  padding-right: 20px;
  width: 20%;
  font-weight: 600;
}

.fs {
  width: 90%;
  border: 3px solid #D8BFD8;
  border-radius: 25px;
  margin-bottom: 30px;
}

legend {
  font-size: 18pt;
  font-weight: 600;
}

em {
  color: #FF9797;
  font-size: 12pt;
}
