.header{
  width:100%;
  background-color: #D8D8EB;
  overflow: auto;
}
.header ul{
  width:80%;
  margin: 0 auto;
}
.header li{
  color: #000;
  float:left;
  list-style: none;
  width:15%;
  text-align: center;
  border-right: 2px solid black;
  border-radius: 5px;
  line-height: 60px;
  font-weight: 600;
}
.header li:hover{
  cursor: pointer;
}
.header img{
  display: block;
  width:60px;
}
#h_icon1{
  display: none;
}
#h_icon2{
  display: none;
}
#h_icon3{
  display: none;
}
#h_icon4{
  display: none;
}
#h_icon5{
  display: none;
}
